/*
  Colour Palette
  - Light orange: #FFA644 - rgba(255,166,68,1.00)
  - Dark orange: #FF8F13 - rgba(255,143,19,1.00)
  - Light purple: #FF8F13 - rgba(191,174,255,1.00)
  - Dark purple: #7D5BFF - rgba(125,91,255,1.00)
  - Highlight green: #00F60B - rgba(0,246,11,1.00)
  - Gray: #666 - rgba(102,102,102,1.00)
  - Background gray: #E6E6E6 - rgba(230,230,230,1.00)
*/

@charset "UTF-8";
/* CSS Document */

html {
  font: normal 100%/1.5 'Raleway', sans-serif; /* 16px/24px */
  background-color: #E6E6E6;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 0.9666666666666667rem;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 1.2715;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4305;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.0729;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.2070;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.3578;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.5276;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.7185;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.9333;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.0875;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.2234;
}

h1, h2, h3, h4, h5, h6,
.brand {
	color: #FFA644;
	font-family: 'Elsie', sans-serif;
}

.brand-family {
	font-family: 'Elsie', sans-serif;
}

.brand-color {
	color: #FF8F13;
}

::selection {
	background-color: #FF8F13;
	color: #fff;
}

a,
a:link {
	color: #FFA644;
	text-decoration: none;
	border-bottom: 0.05em solid #FFA644;
	transition: all 200ms linear;
}

a:visited {
	color: #7D5BFF;
	border-bottom-color: #7D5BFF;
}

a:hover,
a:focus,
a:active {
	color: #BFAEFF;
	border-bottom-color: #7D5BFF;
}

ul {
	list-style-type: none;
}

ul li {
	position: relative;
}

ul li:before {
	content: "✖";
	color: #666;
	position: absolute;
	left: -1.2em;
}

.em{
	font-style: italic;
}

.strong{
	font-weight: bold;
}

.center{
	padding-bottom: 2rem;
}

.logo{
	width: auto;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.list{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

blockquote {
	display: inline;
}

mark {
	background-color: #00F60B;
}

dl {
	display: block;
}

dt {
	display: block;
}

dd {
	display: block;
}