# Accessibility Testing Report

User testing was conducted by Chelsea Smith on April 4th-April 6th between the times of 2-2:30 PM (4th) and 8-9 PM (6th) with the following participants:

- Adriana Granieri
- Kathrine Greenberg
- Sonal Sharma
- Jenna McLean
- Elisa Koon
- Rachel Lin

## Tasks

1. Click the first "Buy Now" button on the buttons.html page
2. Click the "Home" page link on the header.html page
3. Click the "Keep Shopping" button on the cart.html page

---

## Individual Results & Observations

### Adriana Granieri

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### Kathrine Greenberg

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### Sonal Sharma

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### Jenna McLean

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### Elisa Koon

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### Rachel Lin

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.