# Accessibility Testing Report

User testing was conducted by Chelsea Smith on April 4th-April 6th between the times of 2-2:30 PM (4th) and 8-9 PM (6th) with the following participants:

- Adriana Granieri
- Kathrine Greenberg
- Sonal Sharma
- Jenna McLean
- Elisa Koon
- Rachel Lin

## Tasks

1. Click the first "Buy Now" button on the buttons.html page
2. Click the "Home" page link on the header.html page
3. Click the "Keep Shopping" button on the cart.html page

---

## Individual Results & Observations

### Adriana Granieri

- Completed tasks listed above for me (using keyboard)
- Forgot to link "Keep Shopping" button back to home page, therefore didn't work
- Added link into button, task was then issue free

### Kathrine Greenberg

- Completed tasks listed above for me (using keyboard)
- Same issue with "Keep Shopping" page
- She initially clicked one of the other "Buy Now" buttons, I had only linked first one

### Sonal Sharma

- Completed tasks listed above for me (using keyboard)
- Completed error-free aside from initial hiccup with "KS" page

### Jenna McLean

- Completed tasks with VoiceOver
- Tasks went smoothly aside from "KS" button

### Elisa Koon

- Completed tasks with VoiceOver
- Tasks went smoothly aside from "KS" button

### Rachel Lin

- Completed tasks with VoiceOver
- Tasks went smoothly aside from "KS" button

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- "Keep Shopping" button needed to be updated, since no link to another page was provided when clicked

### Serious, Causes Frustration, May Hinder Completion

- Initially came up with tasks in jekyll pages, however jekyll pages need serious reworking
- Completed tasks with standard .html pages which were mostly set up properly
- Must re-work jekyll completely for final site

### Minor, Annoying, Won’t Hinder Completion

- Participants noted my layout could be more "fluid", "moving", add some depth to links and design
- I need to look over all my href links in my work to ensure they are working properly
- Participants noted that the "Buttons" page was slightly annoying in terms of accessibility, since VoiceOver states each item on the screen and moves the highlight box around
- Since it's just a sample page this won't be an issue on full site once developed