# User Testing Report

User testing was conducted by Chelsea Smith on March 29th between the times of 6 PM and 8:20 PM with the following participants:

- Kathrine Greenberg
- Adriana Granieri
- Sonal Sharma

## Tasks

1. Click a link on the /typography page
2. "Keep shopping" after checking the /cart page
3. "Check out" on the /cart page

---

## Individual Results & Observations

### Kathrine

- She clicked my links and tried my tasks
- My cart page was unresponsive, the /typography page recognized that she had clicked a link
- She asked about the product my site is advertising
- I noted the error to fix

### Adriana

- She clicked my links and tried my tasks
- She informed me my cart page wasn't working repsonsively
- She asked what the intended outcome was supposed to be
- She liked the style that my site is currently going in

### Sonal

- She clicked my links and tried my tasks
- She informed me on my cart page
- She asked what the intended outcome was supposed to be
- She noted that my link aesthetics were responsive (for /typography)

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participants could not complete my "cart" tasks

### Serious, Causes Frustration, May Hinder Completion

- Still having issues at home with jekyll
- Some errors on my site are because I was not planning for them to test the '.html'

### Minor, Annoying, Won’t Hinder Completion

- Participants noted my style could be improved a bit