@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Light orange: #FFA644 - rgba(255,166,68,1.00)
  - Dark orange: #FF8F13 - rgba(255,143,19,1.00)
  - Light purple: #BFAEFF - rgba(191,174,255,1.00)
  - Dark purple: #7D5BFF - rgba(125,91,255,1.00)
  - Highlight green: #00F60B - rgba(0,246,11,1.00)
  - Darker green: #00D709 - rgba(0,215,9,1.00)
  - Gray: #666 - rgba(102,102,102,1.00)
  - Background gray: #E6E6E6 - rgba(230,230,230,1.00)
*/

header {
	display: block;
	background-color: #666;
	color: #FF8F13;
	text-decoration: none;
	padding: 0rem;
}

.main {
	font-weight: 300;
	width: 90%;
	margin: 1rem auto;
	text-align: justify;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: inline-block;
	background-color: #666666;
	text-align: center;
	color: #00F60B;
	text-decoration: none;
	padding: .5rem;
	border-top: 1px solid #ffffff;
	text-transform: uppercase;
	font-family: "Creepster", sans-serif;
}

.nav a:hover,
.nav a:focus,
.nav a active{
	background-color: #E6E6E6;
	text-align: center;
	color: #FF8F13;
	text-transform: lowercase;
	font-family: "Raleway", sans-serif;
}

.nav-top[data-state="expanded"]{
	display: inline-block;
}

.nav-top{
	display: none;
}

.logo{
	max-width: 40%;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}