<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>HWS | Outdoor Props</title>
<link rel="author" href="humans.txt"/>
<link rel="shortcut icon" type="image/x-png" href='images/favicon.png'>
<meta name="robots" content="noindex" />
<meta name="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href='css/main.css' rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Elsie' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
</head>

<body>
</body>
</html>
